@import "tailwindcss";

:root {
    
    --bg-main: #0C0C0C;
    --bg-secondary: #050505;
    --border-color: #323232;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}