POSTGRES_USER=db_user
POSTGRES_PASSWORD=password
POSTGRES_DB=rt_chat

DJANGO_DEBUG=False
DJANGO_SETTINGS_MODULE=core.settings.prod
DJANGO_SECRET_KEY=change_me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_DB_ENGINE=postgresql
DJANGO_DB_HOST=postgres
DJANGO_DB_PORT=5432
DJANGO_DB_USER=db_user
DJANGO_DB_PASSWORD=password
DJANGO_DB_NAME=rt_chat

VITE_API_BASE_URL=http://127.0.0.1/api
VITE_GATEWAY_URL=ws://127.0.0.1/gateway